@charset "UTF-8";

/* =========================== */
/*
/* リセット reset
/*
/* =========================== */

/* reset */
html {
  color: #000;
  background: #fff;
}

body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
textarea,
p,
blockquote,
th,
td {
  margin: 0;
  padding: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
}

fieldset,
img {
  border: 0;
}

address,
caption,
cite,
code,
dfn,
em,
strong,
th,
var {
  font-style: normal;
  font-weight: normal;
}

ol,
ul {
  list-style: none;
}

caption,
th {
  text-align: left;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}

q:before,
q:after {
  content: "";
}

abbr,
acronym {
  border: 0;
  font-variant: normal;
}

sup {
  vertical-align: text-top;
}

sub {
  vertical-align: text-bottom;
}

input,
textarea,
select,
button {
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  /* line-height: inherit; */
  line-height: normal;
  font-size: 100%;
  border-radius: 5px;
  border: 1px solid #333;
  appearance: none;
  -webkit-appearance: none;
  background-color: inherit;
}

input,
textarea,
select {
  font-size: 16px;
}

textarea {
  resize: vertical;
  display: block;
}

button {
  padding: 0;
  cursor: pointer;
}

legend {
  color: #000;
}

main {
  display: block;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  width: 100%;
  height: auto;
  vertical-align: bottom;
}

svg {
  display: block;
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}

*::before,
*::after {
  box-sizing: border-box;
}

iframe {
  vertical-align: bottom;
}

/* =========================== */
/*
/* 共通定数 global
/*
/* =========================== */

/* global > color */
:root {
  --color-bg-primary: #524433;
  --color-bg-secondary: #efede9;
  --color-bg-black: #000;
  --color-bg-white: #fff;
  --color-border-black: #000;
  --color-border-redishblack: #707070;
  --color-border-white: #fff;
  --color-font-primary: #524433;
  --color-font-white: #fff;
  --color-font-base: #000;
}

/* global > content-width */
:root {
  --max-width-sm: 960px;
  --max-width-md: 1080px;
  --max-width-lg: 1200px;
}

/* global > font */
:root {
  --font-family-jp: "Noto Sans JP", sans-serif;
  --font-family-en: "Montserrat", sans-serif;
}

/* =========================== */
/*
/* ファンデーション foundation
/*
/* =========================== */

/* foundation > base */
body {
  font-family: var(--font-family-jp);
  line-height: 1.8;
  font-size: 14px;
  font-weight: var(--font-weight-regular);
  color: var(--color-font-base);
  letter-spacing: 0.08em;
}
@media screen and (min-width: 768px) {
  body {
    font-size: 16px;
  }
}

/* =========================== */
/*
/* ユーティリティ utility
/*
/* =========================== */

/* utilitity > utilitity */
.u-visually-hidden {
  position: absolute !important;
  white-space: nowrap !important;
  width: 1px !important;
  height: 1px !important;
  overflow: hidden !important;
  border: 0 !important;
  padding: 0 !important;
  clip: rect(0 0 0 0) !important;
  clip-path: inset(50%) !important;
  margin: -1px !important;
}

/* =========================== */
/*
/* レイアウト layout
/*
/* =========================== */

/* layout > container */
.l-container-lg, .l-container-md, .l-container-sm, .l-container {
  margin: 0 auto;
  width: 90%;
}

.l-container-sm {
  max-width: var(--max-width-sm);
}

.l-container-md {
  max-width: var(--max-width-md);
}

.l-container-lg {
  max-width: var(--max-width-lg);
}

/* layout > margin */
.l-margintop20 {
  margin-top: 20px;
}

/* =========================== */
/*
/* コンポーネント components
/*
/* =========================== */

/* --------------------- */
/* 部品 parts
/* --------------------- */

/* component > button */
.c-button {
  padding: 10px;
  width: 80%;
  display: block;
  font-weight: bold;
  text-align: center;
  border: 1px solid #969595;
  border-radius: 5px;
}

.c-button--blue {
  background-color: #c0f0ff;
}

.c-button--white {
  background-color: #fff;
}

.c-button a:hover {
  opacity: 0.3;
}

.c-button a {
  display: block;
}

/* component > header */
header h1 {
  padding-left: 20px;
  font-size: 2rem;
  font-weight: bold;
  color: #333;
}

/* componet > footer */
footer p {
  padding-left: 0.08em;
  text-align: center;
}

/* component > sidebar */
.c-sidebar {
  width: 230px;
  background-color: #f0f0f0;
  border: 1px solid #dcdcdc;
  border-radius: 5px;
}

.c-sidebar-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px
}

.c-sidebar-list li:first-child {
  margin-top: 20px;
}

.c-sidebar-list li:last-child {
  margin: 10px 0 20px;
}

.c-sidebar li:first-child {
  margin-bottom: 10px;
}

/* table-format */
.c-table-format {
  width: 100%;
  max-width: 1080px;
  border-spacing: 0;
  border-collapse: separate;
  border-radius: 10px;
  border-top: 1px solid #dcdcdc;
  border-left: 1px solid #dcdcdc;
}

.c-table-format th, .c-table-format td {
  padding: 8px;
  text-align: left;
  border-right: 1px solid #dcdcdc;
  border-bottom: 1px solid #dcdcdc;
}

.c-table-format thead tr {
  background-color: #f0f8ff; /* 薄い青色の背景 */
}

.c-table-format thead tr th:first-child {
  border-radius: 10px 0 0 0;
}

.c-table-format thead tr th:last-child {
  border-radius: 0 10px 0 0;
}

.c-table-format tbody tr:nth-child(odd) {
  background-color: #ffffff; /* 白色の背景（デフォルト） */
}

.c-table-format tbody tr:nth-child(even) {
  background-color: #f0f8ff;
}

.c-table-format tbody tr:last-child td:first-child {
  border-radius: 0 0 0 10px;
}

.c-table-format tbody tr:last-child td:last-child {
  border-radius: 0 0 10px 0;
}

/* --------------------- */
/* 画面 view component
/* --------------------- */

header {
  background-color: #f0f8ff;
  border-bottom: 1px solid #dcdcdc;
}

footer {
  margin-top: 30px;
  background-color: #f0f8ff;
  border-top: 1px solid #dcdcdc;
}

/* --------------------- */
/* 画面レイアウト view layout
/* --------------------- */

/* component > layouts > home */
#home .home-container {
  margin-top: 30px;
  display: flex;
  gap: 30px;
}

#home .sidebar-container {
  align-items: flex-start;
}

#home main {
  flex-grow: 1
}

/* =========================== */
/*
/* 個別設定 individual settings
/*
/* =========================== */

/* reservation_table */
#reservation_table table tr th:first-child {
  width: 40px;
}

#reservation_table table tr th:not(:first-child):not(:last-child) {
  width: 200px;
}

/* reservation_detail_table */
#reservation_detail_table table tr th:first-child {
  width: 250px;
}

/* create1_date_items */
/* c-table-format2 */
#create1_date_items table {
  width: 100%;
  max-width: 650px;
  border-spacing: 0;
  border-collapse: separate;
  border-radius: 10px;
  border: 1px solid #dcdcdc;
}

#create1_date_items table input,
#create1_date_items table select {
  width: 250px;
  height: 35px;
  font-size: 20px;
  vertical-align: middle;
  text-align-last: center;
}

/* c-table-format2 */
#create1_date_items table tr:not(:last-child) td {
  border-bottom: 1px solid #dcdcdc;
}

/* c-table-format2 */
#create1_date_items table td:first-child {
  width: 250px;
  border-right: 1px solid #dcdcdc;
  font-size: 18px;
  background-color: #f0f8ff; /* 薄い青色の背景 */
}

#create1_date_items table tr:first-child td:first-child {
  padding: 10px 0 10px 20px;
}

#create1_date_items table tr:not(:first-child) td:first-child {
  padding: 10px 0 10px 50px;
}

/* c-table-format2 */
#create1_date_items table td:nth-child(2) {
  text-align: center;
}

/* c-table-format2 */
#create1_date_items table tr:first-child td:first-child { /* border-radius */
  border-radius: 10px 0 0 0;
}
/* c-table-format2 */
#create1_date_items table tr:last-child td:first-child {  /* border-radius */
  border-radius: 0 0 0 10px;
}

/* c-table-format2 */
#create1_date_items button {
  margin-left: 250px;
  width: 200px;
}

/* -------------------------------------------- */

