@charset "UTF-8";

/* =========================== */
/*
/* リセット reset
/*
/* =========================== */

/* reset */
html {
  color: #000;
  background: var(--color-button-white);
}

body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
textarea,
p,
blockquote,
th,
td {
  margin: 0;
  padding: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
}

fieldset,
img {
  border: 0;
}

address,
caption,
cite,
code,
dfn,
em,
strong,
th,
var {
  font-style: normal;
  font-weight: normal;
}

ol,
ul {
  list-style: none;
}

caption,
th {
  text-align: left;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}

q:before,
q:after {
  content: "";
}

abbr,
acronym {
  border: 0;
  font-variant: normal;
}

sup {
  vertical-align: text-top;
}

sub {
  vertical-align: text-bottom;
}

input,
textarea,
select,
button {
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  /* line-height: inherit; */
  line-height: normal;
  font-size: 100%;
  border-radius: 5px;
  border: 1px solid var(--color-text-dark);
  appearance: none;
  -webkit-appearance: none;
  background-color: inherit;
}

input,
textarea,
select {
  font-size: 16px;
}

textarea {
  resize: vertical;
  display: block;
}

button {
  padding: 0;
  cursor: pointer;
}

legend {
  color: #000;
}

main {
  display: block;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  width: 100%;
  height: auto;
  vertical-align: bottom;
}

svg {
  display: block;
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}

*::before,
*::after {
  box-sizing: border-box;
}

iframe {
  vertical-align: bottom;
}

/* =========================== */
/*
/* 共通定数 global
/*
/* =========================== */

/* color */
:root {
  --color-text-dark: #333;
  --color-border: #dcdcdc;
  --color-border-light: #969595;
  --color-border-light-red: #ff6060;
  --color-button-blue: linear-gradient(90deg, #a1c4fd 0%, #c2e9fb 100%);
  --color-button-white: #fff;
  --color-button-pinkish: linear-gradient(90deg, #ff9a9e 0%, #fad0c4 100%);
  --color-background-light: #f0f0f0;
  --color-background-blue-light: #f0f8ff;
  --color-background-white: #fff;
}

/* content-width */
:root {
  --max-width-sm: 960px;
  --max-width-md: 1080px;
  --max-width-lg: 1200px;
}

/* font */
:root {
  --font-family-jp: "Noto Sans JP", sans-serif;
  --font-family-en: "Montserrat", sans-serif;
}

/* img */
:root {
  --img-exclaimation: url(../img/exclamation.svg);
}

/* =========================== */
/*
/* ユーティリティ utility
/*
/* =========================== */

/* utilitity > utilitity */
.u-visually-hidden {
  position: absolute !important;
  white-space: nowrap !important;
  width: 1px !important;
  height: 1px !important;
  overflow: hidden !important;
  border: 0 !important;
  padding: 0 !important;
  clip: rect(0 0 0 0) !important;
  clip-path: inset(50%) !important;
  margin: -1px !important;
}

/* =========================== */
/*
/* レイアウト layout
/*
/* =========================== */

/* layout > container */
.l-container-lg, .l-container-md, .l-container-sm, .l-container {
  margin: 0 auto;
  width: 90%;
}

.l-container-sm {
  max-width: var(--max-width-sm);
}

.l-container-md {
  max-width: var(--max-width-md);
}

.l-container-lg {
  max-width: var(--max-width-lg);
}

/* layout > margin */
.l-margintop20 {
  margin-top: 20px;
}

/* =========================== */
/*
/* cssコンポーネント
/*
/* =========================== */

/* component > button */
.c-button {
  padding: 10px;
  display: block;
  font-weight: bold;
  text-align: center;
  border: 1px solid var(--color-border-light);
  border-radius: 5px;
}

.c-button--w80pct {
  width: 80%;
}

.c-button--w200px {
  width: 200px;
}

.c-button--blue {
  background: var(--color-button-blue);
}

.c-button--white {
  background-color: var(--color-button-white);
}

.c-button--pinkish {
  background: var(--color-button-pinkish);
}

.c-button a:hover {
  opacity: 0.3;
}

.c-button a {
  display: block;
}

/* component > sidebar */
.c-sidebar {
  width: 230px;
  background-color: var(--color-background-light);
  border: 1px solid var(--color-border);
  border-radius: 5px;
}

.c-sidebar-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px
}

.c-sidebar-list li:first-child {
  margin-top: 20px;
}

.c-sidebar-list li:last-child {
  margin: 10px 0 20px;
}

.c-sidebar li:nth-child(2)  {
  margin-bottom: 10px;
}

/* table-format */
/* ------------------ */
/* reservation_table
/* reservation_detail_table
/* ------------------ */
.c-table-format {
  width: 100%;
  max-width: 1080px;
  border-spacing: 0;
  border-collapse: separate;
  border-radius: 10px;
  border-top: 1px solid var(--color-border);
  border-left: 1px solid var(--color-border);
}

.c-table-format th, .c-table-format td {
  padding: 10px 8px;
  text-align: left;
  border-right: 1px solid var(--color-border);
  border-bottom: 1px solid var(--color-border);
}

.c-table-format thead tr {
  background-color: var(--color-background-blue-light); /* 薄い青色の背景 */
}

.c-table-format thead tr th:first-child {
  border-radius: 10px 0 0 0;
}

.c-table-format thead tr th:last-child {
  border-radius: 0 10px 0 0;
}

.c-table-format tbody tr:nth-child(odd) {
  background-color: var(--color-background-white); /* 白色の背景（デフォルト） */
}

.c-table-format tbody tr:nth-child(even) {
  background-color: var(--color-background-blue-light);
}

.c-table-format tbody tr:last-child td:first-child {
  border-radius: 0 0 0 10px;
}

.c-table-format tbody tr:last-child td:last-child {
  border-radius: 0 0 10px 0;
}

/* c-table-format2 */
/* ------------------ */
/* create1_date_items
/* create2_amount
/* ------------------ */
.c-table-format2 {
  width: 100%;
  max-width: 650px;
  border-spacing: 0;
  border-collapse: separate;
  border-radius: 10px;
  border: 1px solid var(--color-border);
}

.c-table-format2 input,
.c-table-format2 select {
  width: 250px;
  height: 35px;
  font-size: 20px;
  vertical-align: middle;
  text-align-last: center;
}

.c-table-format2 tr:not(:last-child) td {
  border-bottom: 1px solid var(--color-border);
}

.c-table-format2 td:first-child {
  width: 250px;
  border-right: 1px solid var(--color-border);
  font-size: 18px;
  background-color: var(--color-background-blue-light); /* 薄い青色の背景 */
}

.c-table-format2 tr td:first-child {
  padding: 10px 0;
}

.c-table-format2 td {
  text-align: center;
}

.c-table-format2 tr:first-child td:first-child { /* border-radius */
  border-radius: 10px 0 0 0;
}

.c-table-format2 tr:last-child td:first-child {  /* border-radius */
  border-radius: 0 0 0 10px;
}

/* c-create-button */
/* ------------------ */
/* create1_date_items
/* create2_amount
/* ------------------ */
.c-create-button {
  margin-left: 250px;
}

/* =========================== */
/*
/* ファンデーション foundation
/*
/* =========================== */

/* foundation > base */
body {
  /* min-height: 100vh; */
  font-family: var(--font-family-jp);
  line-height: 1.8;
  font-size: 18px;
  font-weight: var(--font-weight-regular);
  color: var(--color-font-base);
  letter-spacing: 0.08em;
}

/* =========================== */
/*
/* bladeコンポーネント
/*
/* =========================== */

/* --------------------- */
/* コンポーネント component
/* --------------------- */

/* header */
header {
  height: 60px;
  display: flex;
  align-items: center;
  background-color: var(--color-background-blue-light);
  border-bottom: 1px solid var(--color-border);
}

/* component > header */
header h1 {
  padding-left: 20px;
  color: var(--color-text-dark);
  font-size: 2rem;
  font-weight: bold;
  line-height: 1;
}

/* footer */
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  background-color: var(--color-background-blue-light);
  border-top: 1px solid var(--color-border);
}

footer p {
  padding-left: 0.08em;
  line-height: 1;
}

/* error */
.error-box {
  padding: 14px;
  border: 1px solid var(--color-border-light-red);
  border-radius: 5px;
}

.error-box li {
  padding-left: 32px;
  position: relative;
  font-weight: bold;
}

.error-box li:before {
  content: "";
  width: 20px;
  height: 20px;
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  background-image: var(--img-exclaimation);
  background-size: contain;
}

.error-box li + li {
  margin-top: 5px;
}

/* --------------------- */
/* レイアウト components > layout
/* --------------------- */

#home {
  padding: 30px 0;
  min-height: calc(100vh - 30px - 60px);
  display: flex;
  gap: 30px;
  overflow: hidden;
}

#home .sidebar-container {
  align-items: flex-start;
}

#home main {
  flex-grow: 1
}

#home .message-box h1 {
  font-size: 24px;
}

/* =========================== */
/*
/* 個別設定 individual settings
/*
/* =========================== */

/* reservation_table */
#reservation_table table tr th:first-child {
  width: 40px;
}

#reservation_table table tr th:not(:first-child):not(:last-child) {
  width: 200px;
}

/* reservation_detail_table */
#reservation_detail_table table tr th:first-child {
  width: 250px;
}

/* create1_date_items */
#create1_date_items table input,
#create1_date_items table select {
  width: 250px;
  height: 35px;
  font-size: 20px;
  vertical-align: middle;
  text-align-last: center;
}

/* create2_amount */
#create2_amount input,
#create2_amount select {
  width: 250px;
  height: 35px;
  font-size: 20px;
  vertical-align: middle;
  text-align-last: center;
}

#create2_amount tr:first-child td:first-child {
  padding: 10px 0 10px 20px;
}

#create2_amount tr:not(:first-child) td:first-child {
  padding: 10px 0 10px 50px;
}