@use '../global/mixin' as g;
@use "sass:math";

/* page > top > top-kv */
#reservation_table {
    table {
        width: 70%;
        border-spacing: 0;
        border-collapse: separate;
        border-radius: 10px;
        border-top: 1px solid #dcdcdc;
        border-left: 1px solid #dcdcdc;

        tr th:first-child {
            width: 20%;
        }

        tr th:not(:first-child) {
            width: 40%;
        }

        th, td {
            padding: 8px;
            text-align: left;
            border-right: 1px solid #dcdcdc;
            border-bottom: 1px solid #dcdcdc;
        }

        thead {
            tr {
                background-color: #f0f8ff; /* 薄い青色の背景 */
            }

            tr th:first-child {
                border-radius: 10px 0 0 0;
            }

            tr th:last-child {
                border-radius: 0 10px 0 0;
            }
        }

        tbody {
            tr:nth-child(odd) {
                background-color: #ffffff; /* 白色の背景（デフォルト） */
            }

            tr:nth-child(even) {
                background-color: #f0f8ff;
            }

            tr:last-child td:first-child {
                border-radius: 0 0 0 10px;
            }

            tr:last-child td:last-child {
                border-radius: 0 0 10px 0;
            }
        }
    }
}

